

/* APPLIES TO FULL UI */

h1 {
	font-size: 50px;
}

h2 {
	font-size:30px;
}

.screenTitle {
	font-size: 30px;
}

#atm_master_container {
    margin: 0 auto;
    margin-top:30px;
    text-align: center;
    width: 800px;
    overflow: hidden;
    margin-bottom: 100px;
    height: 500px;
    z-index:999999;
}

.atm_page {
	margin: 0 auto;
	text-align: center;
	width: 100%;	
    height: 500px;
	display:inline-block;
    /*border:1px solid black;*/
}

.atm_hide {
    visibility:hidden;
    display:none;
}

.atm_show {
    visibility: visible;
    display:inherit;
}

/*
.table>tbody>tr>th, .table>tbody>tr>td {
    border-top: none;
}
*/

/* ATM KEYPAD */
#atm_keypad {
	margin: 0 auto;
	text-align: center;
	width:100%;
    background-color: rgba(191, 192, 193, 0.9);
    border: 1px solid #696969;
    
}

#atm_keypad table {
    width: 100%;
    border-collapse: separate;
    
}

#atm_keypad table tr td{
	width:30.33%;
    padding: 10px;
    margin: 1px 1px 1px 1px;
    border-spacing: 5px;
}

#atm_keypad #captionID {	
	text-align:center;
	font-size: 40px;
	color: #FF6138;
	background-color: #BEEB9F;
	float: top;

}

#atm_keypad #pinLabel {
	font-size: 30px;
}


#atm_keypad #pinText {
	text-align:center;
}


.atm_keypad_input {
    width: 60%;
    margin: 0 auto;
}
/* End ATM key pad */


/* APPLIES TO SINGLE PAGES */

/* ACCOUNT SELECT PAGE */
.atm_account {
    position: relative;
    padding: 20px 10px 10px 10px;
    margin: -10px 10px -45px 10px;
    text-align: left;
    
    /*
border-color: #E5E5E5 #EEE #EEE;
border-style: solid;
border-width: 1px 0;
    
    margin-right: 0;
    margin-left: 0;
    background-color: #FFF;
    border-color: #DDD;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    */
}
.atm_account:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*
.atm_account_chequing:after {
    content: "Chequing";
}

.atm_account_saving:after {
    content: "Savings";
}

#atm_account_select {

}

#atm_account_select h1 {
	text-align: center;
}

#atm_account_select h3 {
	text-align: left;
	padding-left: 10px;
}
*/
/* SINGLE ACCOUNT PAGE */
#atm_single_account_view {
	/*height: 400px;
	padding:0;
	width:600px;*/
}

#account_info_div {
    width:49%;
    height:100%;
    border-right: 2px solid black;
    margin: 0;
    display:inline-block;
    vertical-align: top;
}

#options_div {
	width:49%;
	height:100%;
	margin:0 ;
	display:inline-block;
	vertical-align: top;
}

#options_div div {
	position:relative;
	margin: 0 auto;
	margin-top: 12%;
	display:block;
	width:50%;
	text-align: center;
}


/* WITHDRAW PAGE */
#atm_withdraw {
    /*
	height:400px;*/
}

#withdraw div {
	width:100px;
	height:100px;
	margin: 20px;
	margin-top:40px;
	display:inline-block;
}

#withdraw_custom {
	width:200px;
	height:50px;
	position:relative;
	top:100px;
}

/* DEPOSIT PAGE */
#atm_deposit {
    /*
	height:400px;*/
}

#deposit div {
	width:100px;
	height:100px;
	margin: 20px;
	margin-top:40px;
	display:inline-block;
}

#deposit_custom {
	width:200px;
	height:50px;
	position:relative;
	top:100px;
}

#atm_account_select table {

}

#atm_account_select #accounts_savings {

}

#atm_account_select #accounts_chequing{

}

/*Grid.css*/
.row {    
    margin-bottom: 20px;
}

.row .row {
    margin-top: 10px;
    margin-bottom: 0;
    
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);

}


.atm_legend{
    border:0px;
    width:auto;
    display:inline-block;
    margin:5px 0px 5px 0px;/*top right bottom left*/
    font-size: inherit;
    
}

.table-hover{
    cursor:pointer;
}

