h1 {
	font-size: 50px;
}

#atm_page_login
{
	margin: 0 auto;
	text-align: center;
	width: 800px;
}

.table>tbody>tr>th, .table>tbody>tr>td {
    border-top: none;
}

#atm_keypad
{
	border:2px solid black;
	margin: 0 auto;
	text-align: center;
	width:600px;
	height:400px;
}

#atm_keypad. * {
	position: absolute;
}

#atm_keypad #captionID
{
	text-align:center;
	font-size: 40px;
	color: #FF6138;
	background-color: #BEEB9F;
	float: top;

}

#atm_keypad #pinLabel {
	font-size: 30px;
}

#atm_keypad #pinText {
	text-align:center;
}

#atm_keypad input {
	float:left;
	position: relative;
	left: 45px;
	font-size: 20px;
    
}

.atm_hide {
    visibility:hidden;
    display:none;
}

.atm_show {
    visibility: visible;
    display:inherit;
}

#atm_master_container span h1{
    
}

#atm_master_container{
    margin: 0 auto;
    text-align: center;
}